<header class="navbar navbar-fixed-top blackBg">
    <div class="container">
      <%= link_to "Sample App", root_url, id: "logo" %>
      <nav>
       <ul class="nav">
        <li class="nav-item">
          <%= link_to "Home", root_url, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Help", help_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Signup Now!", signup_path , class: "nav-link" %>
        </li>
      </ul> 
    </nav>
  </div>
</header>